.itemsCard{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 0px 15px;
}

.itemsCard p{
    color: black;
    text-align: center;
}

.buttonItinerary{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: inherit !important;
}