.container {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .imgCons {
    width: 100vw;
    height: 68vh;
  }

  img{
    width: 100vw;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de la sombra y su opacidad */
    margin: 0px;
    padding: 0px;
  }
  
  .small-image {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }

  .text {
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}
  