.Footer {
    background-color: transparent;
    width: 100vw;
    height: 16vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    bottom: 0%;
    margin-bottom: 15px;
}

footer section ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    color: rgb(0, 0, 0);
}

.Footer-Res .footer {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-decoration: underline;
    margin-left: 15px;
}

.Footer-Res{
    width: 100%;
    display: flex;
    flex-direction: row;
}

p {
    text-decoration-line: underline;
    cursor: pointer;
    font-size: 14px;
    color: black !important;
    font-weight: bolder;
    line-height: 10px;
}

.iconos {
    width: 40%;
    display: flex;
    margin: 10px;
    color: rgb(0, 0, 0);
}

.iconos ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-end;
}

.iconos li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    margin: 10px 20px;
    font-size: 35px;
    padding: 9px 11px 8px 11px;
    outline: solid transparent 2px;
    border-radius: 30px;
    color: black;
}

.instagram:hover {
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background: linear-gradient(#ffd500e7, #ff7b00e1, #ff006ae1, #d300c5e0, #7538fad8);
}

.facebook:hover {
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #2e5bbb;
}

.twitter:hover {
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: dodgerblue;
}

.youtube:hover {
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: red;
}

.navDos{
    width: 15%;
}

.Footer-Res .contact{
    width: 20%;
}

.navDos p{
    width: 100%;
    font-size: 14px;
    text-decoration-line: none;
}
.contact p{
    text-decoration-line: none;
}

.copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
}

.copyR {
    width: 100%;
    font-size: 12px !important;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    text-decoration-line: none;
}

@media screen and (max-width: 689px) {
    .iconos{
        width: 100%;
        margin: 0;
    }

    .iconos ul{
        width: 100%;
    }

    .iconos li {
        font-size: 20px;
        justify-content: center;
        margin: 5px;
        padding: 6px 9px 5px 9px;
    }

    .instagram:hover {
        font-size: 25px;
    }

    .facebook:hover {
        font-size: 25px;
    }

    .twitter:hover {
        font-size: 25px;
    }

    .youtube:hover {
        font-size: 25px;
    }

    p {
        font-size: 10px;
        line-height: 0px;
    }

    .Footer {
        width: 100vw;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .Footer-Res{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Footer-Res .footer{
        width: 30%;
    }

    .Footer-Res .contact{
        width: 40%;
    }

    .Footer-Res .navDos{
        width: 20%;
    }

    .copy {
        width: 100%;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {}