*{
    margin: 0;
    padding: 0;
}


.boton{
    font-size: 25px;
    margin-top: 30px;
    border: solid 2px white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bolder;
}
  
  .animacion {
    animation: border-glow 2s linear infinite;
  }
  
  @keyframes border-glow {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
  }

h1{
    position: relative;
}

.C-Texto{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

p{
    margin-bottom: 5px !important;
}

.pagP{
    background-image: url(../imagenes/HERO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 101vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.textoC{
    width: 90%;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    font-family:roboto;
    text-align: left;
    color: #4444447c;
    position: relative;
}

@media screen and (max-width: 689px) {
    .textoC{
        width: 90%;
        font-size: 30px;
        margin-top: 100px;
    }

    .boton{
        font-size: 20px;
        margin-top: 30px;
    }
    
}

@media screen and (min-width: 690px) and (max-width: 1300px) {
    .textoC{
        width: 90%;
        font-size: 45px;
        margin-top: 100px;
    }

    .boton{
        font-size: 25px;
        margin-top: 30px;
        padding: 5px;
    }
}