.titleItinerary {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 130px;
}

.body {
    width: 100vw;
    max-width: 100vw;
    padding: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

.cont-activity-img {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 15px;
}

.containerImg {
    width: 50%;
    height: 100%;
}

.container-Img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-Img- {
    width: 100%;
    height: 50%;
}

.container-Img_ {
    width: 100%;
    height: 50%;
}

.imgActivity {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    border-radius: 30px;
}

.booking-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0px;
}

.information {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.about p,
h5 {
    line-height: 40px;
    color: black;
    font-weight: bolder;
}

.more-information {
    width: 100%;
    margin-top: 40px;
    color: black;
}

.reserve {
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(80, 59, 100, 0.384);
    border-radius: 15px;
    padding: 0px 15px;
}

.reserve h2 {
    text-align: center;
    color: black;
    padding-top: 10px;
}

.reserve h6 {
    color: black;
}

.imgI{
    width: 300px;
}

.dateCalendar,
.cancellation {
    color: black;
    line-height: 40px;
}

.trolley {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
}

.trolley span,
.custom-input {
    color: black;
}

.calendar {
    width: 80%;
    height: auto;
}

.date-button {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .titleItinerary {
        margin-top: 180px;
    }

    .cont-activity-img {
        height: 30vh;
    }

    .booking-info {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .information {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reserve {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .custom-input {
        width: 117%;
    }
}