.bg-body-tertiary{
    background-color: transparent !important;
    /* background: linear-gradient(rgb(143, 243, 230), white); */
    height: 16vh;
}

.logoNav{
    width: 180px;
    cursor: pointer;
}

.container-fluid{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navbar-expand-lg .navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.nav-link,
.active{
    font-family: "Lucida Console", Monaco, monospace;
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    font-size: 26px;
    margin: 0px 14px;
    cursor: pointer;
    padding-bottom: 0px;
    text-decoration-line: none;
}

.nav-link:hover{
    color: rgb(0, 0, 0) !important;
    border-bottom: 3px solid #e79d80be;
}

.navbar-nav {
    margin-right: 20px;
}

/* button {
    background: linear-gradient(rgba(12, 73, 63, 0.822),rgba(10, 218, 10, 0.767),rgba(247, 247, 42, 0.815));
} */

@media screen and (max-width: 689px) {
    .navbar-expand-lg .navbar-nav {
        width: 94%;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        background-color: rgb(247, 182, 151);
        position: absolute;
        z-index: 1000;
    }

    .nav-link:hover{
        color: rgb(0, 0, 0) !important;
        border-bottom: 3px solid #000000be;
    }

    .logoNav{
        width: 100px;
    }

    .nav-link,
    .active{
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin: 10px 0px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    .nav-link,
    .active{
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
}