.bg-body-tertiary{
    background-color: transparent !important;
    height: 16vh;
}

.logoNav{
    width: 180px;
    cursor: pointer;
}

.container-fluid{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.navbar-expand-lg .navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.nav-link,
.active{
    font-family: "Lucida Console", Monaco, monospace;
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    font-size: 26px;
    margin: 0px 14px;
    cursor: pointer;
    padding-bottom: 0px;
    text-decoration-line: none;
}

.nav-link:hover{
    color: rgb(0, 0, 0) !important;
    border-bottom: 3px solid #e79d80be;
}

.navbar-nav {
    margin-right: 20px;
}

/* .fly {
	font-size: 3rem;
	margin-top: 45px;
	animation: fly 50s linear infinite;
	position: absolute;
    text-decoration-line: none;
}

.fly .emoji {
	display: block;
	transform: rotateZ(45deg);
}

@keyframes fly {
	0% {
		left: 10px;
		top: 0px;
		transform: rotateZ(0deg);
	}

	30% {
		left: 1600px;
		top: 0px;
		transform: rotateZ(0deg);
	}

	100% {
		left: 1500px;
		top: 0px;
		transform: rotateZ(0deg);
	}
}

.title_wrapper {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-decoration-line: none;
}

.title_wrapper h2 {
	margin: 0;
	font-size: 2rem;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5);
} */

@media screen and (max-width: 689px) {
    body{
        height: 100%;
        min-height: 100%;
    }
    .navbar-expand-lg .navbar-nav {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        color: white;
        position: relative;
    }

    .navbar-collapse{
        position: relative;
    }

    .nav-link:hover{
        color: rgb(255, 255, 255) !important;
        border-bottom: 3px solid #ffffffbe;
    }

    .logoNav{
        width: 100px;
    }

    .nav-link,
    .active{
        color: white !important;
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin: 10px 0px;
        position: relative;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    .nav-link,
    .active{
        width: 100%;
        text-align: center;
        margin: 10px 0px;
        position: relative;
    }
}