.overlayI{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 10px;
    color: white;
    cursor: pointer;
}

.containerI {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    height: 75vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.imgCotainerI {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.imageI {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.textI {
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .containerI {
        width: 100%;
        height: 100%;
    }
}