.bodySign{
    background: linear-gradient(blueviolet, rgba(137, 43, 226, 0.349), blueviolet);
}

.css-binzgt {
    margin-top: 0px;
    margin-bottom: 10px;
}

.css-nzinn5-MuiContainer-root {
    max-width: 444px;
    height: 80vh;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid {
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 15px;
    height: 19px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 15px;
    color: transparent;
}

:root {
    --swiper-theme-color: #3a0868 !important;
}

.S9gUrf-YoZ4jf, .S9gUrf-YoZ4jf * {
    border: none;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.buttonUser{
    width: 70px;
    font-size: 12px;
    border: solid 2px white;
    padding: 1px;
    border-radius: 25px;
    font-weight: bolder;
    background-color: #500892;
    text-align: center;
    margin-left: 10px;
}

@media screen and (max-width: 290px){
    .css-nzinn5-MuiContainer-root {
        max-width: 444px;
        height: 90vh;
    }
}