.bodySign {
    background: linear-gradient(blueviolet, rgba(137, 43, 226, 0.349), blueviolet);
}

.css-binzgt {
    margin-top: 0px;
    margin-bottom: 10px;
}

.css-nzinn5-MuiContainer-root {
    max-width: 444px;
    height: fit-content;
    min-height: 63vh;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid {
    background-color: #ffffffc7;
    border-radius: 15px;
    height: 19px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 15px;
    color: transparent;
}

:root {
    --swiper-theme-color: #ffe600 !important;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonsocial {
    padding: 6px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 12px;
}

.iconGoogle {
    width: 30px;
    margin-right: 10px;
}

.buttonUser {
    width: 68px;
    font-size: 12px;
    border: solid 2px white;
    padding: 2px 1px;
    border-radius: 35px;
    font-weight: bolder;
    background-color: #500892;
    text-align: center;
    margin-left: 10px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    color: black;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: #ffffffc7;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

@media screen and (max-width: 760px) {
    .css-nzinn5-MuiContainer-root {
        max-width: 444px;
        height: fit-content;
        margin-bottom: 20px;
    }

    .iconGoogle {
        width: 20px;
        margin-right: 10px;
    }

    .buttonsocial {
        font-size: 12px;
        padding: 3px 8px;
        margin-bottom: 15px;
    }
}